*
	margin: 0
	padding: 0
	box-sizing: border-box
	color: #000
ul, ol
	list-style-type: none
a
	text-decoration: none
.clearfix:after
	visibility: hidden
	display: block
	font-size: 0
	content: " "
	clear: both
	height: 0
body
	max-width: 1300px
	margin: 0 auto
	.container, header
		margin: 0 60px
		max-width: 1180px
		font-size: 0
	header
		padding-top: 30px
		height: 120px
		.top_left
			max-width: 915px
			float: left
		h1
			font-size: 30px
		.top_left, .top_right, .top_menu li, .arrivals
			width: 100%
		.top_menu
			margin: 25px 0
			li
				display: inline-block
				max-width: 110px
				font-weight: bold
			a
				display: block
				font-size: 14px
		.top_right
			max-width: 265px
			display: inline-block
			float: right
			.sing_up
				float: left
				font-size: 14px
			.bag
				float: right
				display: inline-block
				padding-left: 30px
				max-width: 130px
				border: none
				background-color: inherit
				background-image: url('d:/site3/img/sprite.png')
				background-repeat: no-repeat
				background-position: -34px -31px
		input
			border: none
			border-bottom: 1px solid #ececec
			display: block
			float: right
			margin: 40px 0 15px
			max-width: 120px
			padding-bottom: 10px
			color: grey
			clear: both
			background-image: url('d:/site3/img/sprite.png')
			background-repeat: no-repeat
			background-position: 95px -30px
	.black_white
		.container
			width: 100%
			margin: 0 auto
			position: relative
			.main_slide
				position: relative
				.main_bw
					font-size: 12px
					padding: 5%
					width: 100%
					max-width: 385px
					text-align: center
					background-color: #fff
					position: absolute
					top: 120px
					left: 35%
					h2
						font-size: 110px
						color: red
						margin: 60px 0 120px
					span
						display: inline-block
						width: 65px
						margin: 0 10px
						border: 4px solid red
				.main_box
					margin: 0 auto
					text-align: center
					padding: 35px
					border-top: 1px solid #ececec
					position: absolute
					width: 100%
					bottom: 0
					left: 0
					span
						cursor: pointer
						background-color: #ececec
						border-radius: 50%
						margin: 5px
						padding: 5px
					span:hover
						background-color: red
			#slider
				position: relative
				img
					width: 100%
			.slide
				display: none
			.active
				display: block
	.arrivals
		font-size: 16px
		.container
			margin: 0 auto
			border-top: 1px solid #ececec
			h3, p
				position: absolute
			h3
				font-size: 30px
				position: absolute
				top: 70px
				right: 80px
			p
				font-size: 16px
				color: grey
				font-style: italic
				top: 110px
				right: 125px
			h2
				font-size: 60px
				margin: 0 auto
				padding: 140px 0 100px
				clear: both
				text-align: center
			.left_arr, .right_arr
				width: 50%
				float: left
				display: inline-block
				position: relative
			img
				width: 100%
	.all_arrivals
		border-bottom: 1px solid grey
		.container
			font-size: 14px
			text-align: center
		.arr_list
			width: 100%
			li
				display: inline-block
				float: left
				width: 25%
				maigin-right: 70px
			li:last
				margin-right: 0
			p
				font-style: italic
			img
				width: 100%
				max-width: 240px
			h4
				margin: 50px 0 20px
		.arr_btn
			font-size: 26px
			margin: 80px auto
			background: inherit
			padding: 25px 100px
			border: 1px solid grey
			border-radius: 2px
	.foot_contacts
		border-bottom: 1px solid grey
		max-width: 1300px
		.container
			font-size: 14px
			color: grey
			padding: 55px 0 110px
			.links, .contacts
				display: inline-block
				float: left
				width: 50%
				max-width: 590px
				.foot_links
					width: 100%
					max-width: 590px
					border: none
					text-align: left
					tr
						width: 100%
					tr
						td
							padding: 15px 0
						th
							padding-bottom: 45px	
				.contacts
					display: block
					padding-left: 60px
				.foot_icons
					display: block
					background-image: url('d:/site3/img/sprite.png')
					background-repeat: no-repeat
					background-position: 0 0
					padding: 10px
					margin-top: 40px
				.contacts_l, .contacts_r
					width: 100%
					max-width: 265px
					float: left
					display: inline-block
					p
						padding-top: 5px
				p
					clear: both
					font-style: italic
					color: grey
					font-size: 16px
					max-width: 265px
					padding-top: 80px
					line-height: 30px
				.contacts_l
					p
						background-image: url('d:/site3/img/sprite.png')
						background-repeat: no-repeat
						background-position: -5px -47px
						padding-left: 15px
	footer
		.container
			padding: 30px 0 35px
			font-size: 12px
			text-align: center
			.bot_nav, p, .bot_nav li
				display: inline-block
				width: 33%
				float: left
				font-weight: bold
		p:first-child
			text-align: left
			font-weight: normal














